.search-form {
    padding-top: 16px;
    margin-bottom: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    #demo-simple-select-helper {
        padding: 10px 34px 7px 12px;
    }
}