.search-form {
    padding-top: 16px;
    margin-bottom: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    #demo-simple-select-helper {
        padding: 10px 34px 7px 12px;
    }
}

@media only screen and (max-width: 700px) {
    .search-form {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        
        &__submit-button {
            margin: 8px !important;
        }
    }
}
